  </main>
  <footer class="site-footer">
    <div class="footer-grid">
      <div>
        <h3><%= siteName %></h3>
        <p>Serving Next Generation of Government Jobs aspirant with accessibility of guidance and resources for UPSC, SSC, Banking, and other Competitive Exams.</p>
      </div>
      <div>
        <h4>EXPLORE</h4>
        <a href="/latest-jobs">Latest Jobs Notifications</a>
        <a href="/result">Result</a>
        <a href="/syllabus">Syllabus</a>
        <a href="/blog">Blogs</a>
      </div>
      <div>
        <h4>GET INVOLVED</h4>
        <a href="/blog/new">Write a Blog</a>
        <a href="/signup">Sign Up</a>
      </div>
      <div>
        <h4>CONTACT</h4>
        <a href="mailto:contact@iasbabu.org">contact@iasbabu.org</a>
      </div>
    </div>
    <div class="footer-bottom">
      <span>&copy; <%= new Date().getFullYear() %> <%= siteName %>. All rights reserved.</span>
      <span class="footer-links"><a href="/login">Admin</a></span>
    </div>
  </footer>
</body>
</html>
