<%- include('partials/header') %>
<section class="auth-page">
  <h1>Thanks! Your post was submitted.</h1>
  <p>An admin will review it shortly. You'll find it under your blog drafts once approved.</p>
  <a class="btn-solid" href="/blog">Back to Blog</a>
</section>
<%- include('partials/footer') %>
